@mixin button-starter(){
    border: none;
    outline: none;
    cursor: pointer;
}
@mixin figures(){
    position: absolute;
    z-index: 2;
    pointer-events: none;
}

@mixin about-number-vertical-line{
    content: '';
    display: block;
    position: absolute;
    background: $primary-color;
    width: 1px;
    height: 0;
    transition: all .3s;
    z-index: 5;
}

@mixin about-number-horizon-line{
    content: '';
    display: block;
    position: absolute;
    background: $primary-color;
    height: 1px;
    width: 0;
    transition: all .3s;
}

@mixin about-number-vertical-line-2{
    content: '';
    display: block;
    position: absolute;
    background: $primary-color;
    width: 1px;
    height: 0;
    transition: all .3s;
    z-index: 5;
}

@mixin about-number-horizon-line-2{
    content: '';
    display: block;
    position: absolute;
    background: $primary-color;
    height: 1px;
    width: 0;
    transition: all .3s;
}

@mixin overlay-block{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
}

@mixin hover-links(){
    color: $primary-color;
}

@mixin calltoactiontext(){
    font-weight: 600;
    font-size: .9rem;
    @include sm-block{
        font-size: 1rem;
    }
    @include lg-block{
        font-size: 2.2rem;
    }
}
@mixin calltoactionBtn(){
    font-weight: 600;
    font-size: .7rem;
    color: #000;
    background-color: #fff;
    border: 1px solid $primary-color;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    border-radius: 10px;
    transition: all .3s;
    @include sm-block{
        font-size: 1rem;
    }
    @include lg-block{
        font-size: 1.2rem;
        padding-top: 14px;
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 14px;
    }
    &:hover{
        color: #fff;
        background-color: $primary-color;
        border-color: transparent;
    }
}