$primary-color: #13BCDF;

$gradient-color-first: #13CADF;
$gradient-color-second: #1396E2;
$gradient: linear-gradient(100deg, $gradient-color-first, $gradient-color-first 80%, $gradient-color-second);
$gradient-footer: linear-gradient(100deg, $gradient-color-first, $gradient-color-first 40%, $gradient-color-second);

$secondary-text-color: #5D5D5D;
$header-secondary-text: #DCDCDC;
$border-on-about-page: 1px solid rgba(0, 0, 0, .1);
$error-input: #FF0000;
$success-input: #00FA9A;

$preloader-duration: 1.5s;
$preloader-size: 250px;
$preloader-element-size: 33px;
$preloader-element-border-radius: 15%;