$mainColor:  #13BCDF;
$secondaryText: #5D5D5D;
$border: 1px solid rgba(0, 0, 0, .1);
$errorInput: #FF0000;
$successInput: #00FA9A;

$preloaderDuration:  1.5s;
$preloaderSize: 250px;
$preloaderElementSize: 33px;
$preloaderElementBorderRadius: 15%;