$primary-color: #006D8F;

$gradient-color-first: $primary-color;
$gradient-color-second: #23A4CC;
$gradient: linear-gradient( 100deg, #006D8F , #23A4CC 80%);

$secondary-text-color: #010101;
$border-on-about-page: 1px solid rgba(0, 0, 0, .1);
$error-input: #FF0000;
$success-input: #00FA9A;

$preloader-duration:  1.5s;
$preloader-size: 250px;
$preloader-element-size: 33px;
$preloader-element-border-radius: 15%;