.fixed {
  overflow: hidden;
}

.overlay-navigation {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.2);
  display: none;
  opacity: 0;
  overflow-y: hidden;

  & nav, nav ul {
    width: 100%;
    height: 100%;
    overflow: hidden;

    & ul {
      display: flex;
      @include xs(flex-direction, column);
      @include md(flex-direction, row);

      & li {
        justify-content: center;
        align-items: center;
        height: 100%;
        overflow: hidden;
        display: none;
        background-color: rgba(255, 255, 255, 0.7);

        &:hover {
          background-color: rgba(255, 255, 255, .9);
        }

        &:hover a {
          transform: scale(1.15);
        }

        & a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          color: #000;
          text-transform: uppercase;
          font-family: Quicksand;
          font-weight: 700;
          letter-spacing: 4px;
          text-align: center;
          transition: .4s;
        }
      }
    }
  }
}

.burger-wrapper {
  display: flex;
  height: 100px;
  position: fixed;
  width: 100vw;
  transition: all .4s;
  z-index: 10000;
  justify-content: start;
  align-items: center;
  @include sm-block {
    justify-content: center;

  }

  & a {
    font-family: Pacifico;
    font-size: 20px;
    color: transparent;
    transition: all .5s;
    @include sm-block {
      font-size: 30px;
    }
  }

  &.navShadow {
    height: 80px;
    background-color: rgba(255, 255, 255, 0.5);

    & a {
      color: #000;
      padding-left: 1rem;
      @include sm(padding-left, 0)
    }

    & .burger-icon {
      top: 1.75rem;
      background-color: #000;
    }
  }

  & .burger-icon {
    position: fixed;
    top: 1.4rem;
    z-index: 100;
    width: 40px;
    display: block;
    cursor: pointer;
    background-color: #fff;
    height: 2px;
    transition: all .4s;
    background-clip: content-box;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;

    @include xs(right, 2rem);
    @include sm(right, 5rem);
    @include lg(top, 3.6rem);

    &:hover {
      width: 50px;
    }

    &:before, &:after {
      content: "";
      position: absolute;
      background-color: #Fff;
      height: 1px;
      width: 100%;
      right: 0;
      will-change: rotate;
      transform: rotate(0deg);
      transition: all 0.5s ease;
    }

    &:before {
      top: -10px;
      width: 80%;
    }

    &:after {
      top: 10px;
      width: 50%;
    }

    &.active:after {
      transform: rotate(-135deg);
      background: #000;
      width: 110%;
      top: 0;
    }

    &.active:before {
      transform: rotate(135deg);
      top: 0;
      background: #000;
      width: 110%;
    }
  }
}

.burger-wrapper.navShadow > .burger-icon,
.burger-wrapper.navShadow > .burger-icon:after,
.burger-wrapper.navShadow > .burger-icon:before {
  background-color: #000;
}

.burger-icon.active, .navShadow > .burger-icon.active {
  background-color: transparent;
  background-clip: content-box;
}

.header-wrapper {
  overflow-x: hidden;
  height: 100vh;
  background-image: url("../img/6.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;

  &__trapezoid {
    background-color: rgba(255, 255, 255, .3);
    clip-path: polygon(30% 0%, 70% 0%, 100% 100%, 0% 100%);
    height: 120px;
    width: 100px;
    position: relative;
    z-index: 98;
    display: flex;
    align-items: center;
    justify-content: center;
    @include sm-block {
      height: 192px;
      width: 187px;
    }

    & h2 {
      font-family: Pacifico;
      z-index: 98;
      color: #000;
      font-size: 1.1rem;
      text-align: center;
      user-select: none;
      @include sm-block {
        font-size: 1.5rem;
      }
    }
  }

  &__block-text {
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    font-size: 1.05rem;
    position: relative;
    @include md(width, 50%);
    @include xs(width, 80%);
    @include md-block {
      font-size: 1.4rem;
    }

    & h1 {
      color: $mainColor;
      font-size: 2.1rem;
      margin-bottom: 20px;
      @include md-block {
        font-size: 2.6rem;
      }
    }

    & img {
      position: absolute;
      width: 200px;
      right: -8rem;
      bottom: -3rem;
      @include xs(display, none);
      @include sm(display, block);
    }
  }

  &__video {
    align-self: flex-start;
    display: flex;
    align-items: center;
    color: #fff;
    height: 150px;
    @include sm(height, auto);

    & a {
      background-image: linear-gradient(to right, #13CADF, #1396E2);
      box-shadow: 10px 20px 40px rgba(255, 255, 255, 0.4);
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-right: 20px;
      transition: all ease .5s;
      text-align: center;
      align-items: center;
      display: flex;
      justify-content: center;
      @include md-block {
        width: 80px;
        height: 80px;
      }

      &:hover {
        background-color: $mainColor;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
        transform: scale(1.02);
        margin-right: 30px;
      }

      & i {
        font-size: 20px;
        color: white;
        padding-left: 5px;
        line-height: 30px;
        @include md-block {
          font-size: 30px;
        }
      }
    }
  }

  &__button {
    & button {
      width: 150px;
      height: 40px;
      background-image: linear-gradient(to right, #13CADF, #1396E2);
      box-shadow: 5px 10px 20px rgba(255, 255, 255, 0.4);
      color: #fff;
      border-radius: 10px;
      transition: all .5s;

      &:hover {
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
        transform: translateY(-5%);
      }
    }
  }

  &__info {
    min-height: 98%;
    @include md(min-height, 100%);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 100;
    overflow: hidden;
  }

  &__figure {
    position: absolute;
    z-index: 99;
  }

  .circles {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
  }

  & .circle-1 {
    width: 400px;
    height: 400px;
    top: -10rem;
    @include md(left, -15rem);
    @include xl(left, -10rem);
    @include sm-block {
      display: block;
      left: -20rem;
    }
    @include xs-block {
      display: none;
    }
  }

  & .circle-2 {
    width: 190px;
    height: 190px;
    @include xl(right, 0rem);
    @include sm-block {
      display: block;
      top: 12rem;
      right: -5rem;
    }
    @include xs-block {
      display: none;
    }
  }

  & .circle-3 {
    height: 250px;
    width: 250px;
    top: 25rem;
    @include md(left, -10rem);
    @include xl(left, -5rem);
    @include sm-block {
      display: block;
      left: -11rem;
    }
    @include xs(display, none);
  }

  & .square-1 {
    width: 24px;
    bottom: 10rem;
    @include xl(right, 10rem);
    @include sm-block {
      display: block;
      right: 6rem;
    }
    @include xs-block {
      display: none;
    }
  }

  & .square-1-mobile {
    width: 24px;
    bottom: 10rem;
    right: 3rem;
    @include sm(display, none);
    @include xs(display, block)
  }

  & .trapezoid-1 {
    width: 41px;
    bottom: 8rem;
    @include sm-block {
      display: block;
      right: 20rem;
    }
    @include xs(display, none);
  }

  & .line-1 {
    right: 5rem;
    bottom: 0;
    width: 1px;
  }
}

.header-wrapper:after {
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: #000;
  opacity: .5;
}




