/*  06 Blog */
.blog {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;

    .container {
        position: relative;
        z-index: 1;

        h2 {
            color: #fff;
            font-size: 1.5rem;
            margin-bottom: 40px;
            @include lg-block {
                margin-bottom: 60px;
            }
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

    }

    &__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        text-align: center;
        box-shadow: 10px 20px 30px rgba(255, 255, 255, 0.3);
        transition: all 1s;
        background-size: cover;
        margin-bottom: 1px;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid $primary-color-landing-2;
        @include lg-block {
            width: 50%;
            border-radius: 50%;
            padding: 0;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 1);
            @include lg-block {
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 1);
            }
        }

        &:hover {
            background-position: center;
            transform: scale(1.05);
            z-index: 1;

            &:after {
                background-color: rgba(255, 255, 255, 0.8);
            }

            h4, small {
                display: none;
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                @include lg-block {
                    height: 100%;
                    width: 100%;
                    font-size: 1.2rem;
                }
                font-size: 1.8rem;
                font-weight: 700;
                margin-bottom: 0;
            }
        }

        &:nth-child(1) {
            /*first image of blog-content*/
            background-image: url("../img/post1.webp");
            @include xl-block {
                width: 565px;
                height: 565px;
            }
            @include lg-block {
                width: 450px;
                height: 450px;
            }
            height: 300px;
        }

        &:nth-child(2) {
            /*second image of blog-content*/
            background-image: url("../img/post2.webp");
            @include lg-block {
                width: 370px;
                height: 370px;
            }
            height: 300px;

            h4 {
                @include lg-block {
                    font-size: 1.7rem;
                }

            }
        }

        &:nth-child(3) {
            /*third image of blog-content*/
            background-image: url("../img/post3.webp");
            height: 300px;
            @include lg-block {
                width: 230px;
                height: 230px;
            }

            h4 {
                @include lg-block {
                    font-size: 1.4rem;
                }
            }
        }

        &:nth-child(4) {
            /*fourth image of blog-content*/
            background-image: url("../img/post4.webp");
            @include lg-block {
                width: 260px;
                height: 260px;
                margin-top: -30px;
            }
            height: 300px;

            h4 {
                @include lg-block {
                    font-size: 1.2rem;
                }
            }
        }

        &:nth-child(5) {
            /*fourth image of blog-content*/
            background-image: url("../img/post5.webp");
            @include lg-block {
                width: 300px;
            }
            height: 300px;

            h4 {
                @include lg-block {
                    font-size: 1.4rem;
                }
            }
        }

        &:nth-child(6) {
            /*6 image of blog-content*/
            background-image: url("../img/post6.webp");
            @include lg-block {
                width: 370px;
                height: 370px;
            }
            height: 300px;

            h4 {
                @include lg-block {
                    font-size: 1.4rem;
                }
            }
        }

        &:nth-child(7) {
            /*7 image of blog-content*/
            background-image: url("../img/post7.webp");
            height: 300px;
            @include lg-block {
                width: 230px;
                height: 230px;
            }

            h4 {
                @include lg-block {
                    font-size: 1.4rem;
                }
            }
        }

        &:nth-child(8) {
            /*8 image of blog-content*/
            background-image: url("../img/post8.webp");
            @include lg-block {
                width: 260px;
                height: 260px;
                margin-top: -30px;
            }
            height: 300px;

            h4 {
                @include lg-block {
                    font-size: 1.2rem;
                }
            }
        }

        &:nth-child(9) {
            /*9 image of blog-content*/
            background-image: url("../img/post9.webp");
            @include lg-block {
                width: 300px;
            }
            height: 300px;

            h4 {
                @include lg-block {
                    font-size: 1.4rem;
                }
            }

        }

        &:nth-child(10) {
            /*10 image of blog-content*/
            background-image: url("../img/post10.webp");
            @include xl-block {
                width: 565px;
                height: 565px;
            }
            @include lg-block {
                width: 450px;
                height: 450px;
            }
            height: 300px;
        }

        h4 {
            font-size: 1.6rem;
            font-weight: 600;
            margin-bottom: 20px;
            z-index: 1;
            @include lg-block {
                font-size: 2rem;
            }
        }

        a {
            display: none;
            z-index: 1;
            transition: all  ease .4s;
        }

        small {
            color: $primary-color-landing-2;
            z-index: 1;
            font-weight: 700;
            font-size: 1rem;
        }
    }

    &__figures{
        @include figures();
        display: none;
        @include xl-block{
            display: block;
        }
    }
    .pentagon-1{
        width: 200px;
        height: 200px;
        top: 15%;
        left: 10%;
    }
    .pentagon-2{
        width: 200px;
        height: 200px;
        top: 65%;
        left: 5%;
    }
    .pentagon-3{
        width: 200px;
        height: 200px;
        top: 45%;
        left: 7%;
    }
    .pentagon-4{
        width: 200px;
        height: 200px;
        top: 75%;
        right: 5%;
    }
    .pentagon-5{
        width: 500px;
        height: 500px;
        top: 30%;
        right: -10%;
    }
}

