/* 04 Calltoaction-price */

.calltoaction-price{
    padding-bottom: 40px;
    &__content{
        display: flex;
        align-items: center;
        flex-direction: column;
        p {
            @include calltoactiontext();
            margin-bottom: 20px;
            @include lg-block{
                margin-bottom: 30px;
            }
        }
        a{
            @include calltoactionBtn2();
        }
    }
}




