/* 06 Feedback */
.feedback {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("../img/feedbackBg.webp");
    @include lg-block{
     background-attachment: fixed;
}

    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;

    &:after {
        @include overlay-block();
        background-color: $primary-color-landing-2;
        opacity: .9;
    }
    .container {
        z-index: 2;
        position: relative;

        h2 {
            color: #fff;
            font-size: 1.5rem;
            margin-bottom: 30px;
            @include md-block {
                margin-bottom: 60px;
            }
        }
    }

    &__slider {
        display: flex;
        align-items: center;
    }

    &__item {
        @include size-xs(10);
        @include size-lg(7);
        @include size-md(8);
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        @include md-block {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .feedback__photo {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 20px;
            @include md-block {
                margin-bottom: 40px;
            }
        }
        p{
            color: #fff;
            text-align: center;
            font-size: 1rem;
            line-height: 1.3;
            @include md-block {
                font-size: 1.3rem;
                line-height: 2;
            }
        }

        .feedback__text {
            margin-bottom: 20px;
        }

        .feedback__name {
            font-weight: 500;
            margin-bottom: 10px;
        }

        span {
            color: $secondary-text-color-lending-2;
            font-weight: 600;
            font-size: 1rem;
            margin-bottom: 30px;
        }

    }

    &__figures {
        @include figures();
        border-radius: 50%;
    }
    .circles {
        background-color: rgba(255, 255, 255, 0.3);
    }

    .feedback-circle-1 {
        width: 29px;
        height: 29px;
        left: 4rem;
        bottom: 10rem;
        @include lg-block {
            bottom: 2rem;
        }
    }

    .feedback-circle-2 {
        width: 50px;
        height: 50px;
        left: 20rem;
        bottom: 15rem;
        @include lg-block {
            left: 16rem;
            bottom: 8rem;
        }
    }

    .feedback-circle-3 {
        background-color: rgba(255, 255, 255, 0.18);
        width: 100px;
        height: 100px;
        left: 38rem;
        bottom: 30rem;
        @include lg-block {
            left: 32rem;
            bottom: 16rem;
        }
    }

    .feedback-circle-4 {
        background-color: rgba(255, 255, 255, 0.05);
        width: 150px;
        height: 150px;
        @include lg-block {
            left: 48rem;
            bottom: 24rem;
            display: block;
        }
        display: none;
    }

    .feedback-circle-5 {
        background-color: rgba(255, 255, 255, 0.15);
        width: 250px;
        height: 250px;
        @include xl-block {
            left: 63rem;
            top: 2rem;
            display: block;
        }
        display: none;

    }

    .feedback-circle-6 {
        width: 400px;
        height: 400px;
        @include lg-block {
            right: -10rem;
            top: -10rem;
            display: block;
        }
        display: none;
    }
}

