/* 11 Footer */
.footer {
    height: 50vh;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    background-color: $primary-color-landing-2;
    overflow: hidden;
    @include lg-block {
        height: 40vh;
        padding-top: 50px;
        padding-right: 0;
        padding-bottom: 50px;
        padding-left: 0;
    }
    .container {
        height: inherit;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        @include lg-block {
            justify-content: space-between;
        }
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @include lg-block{
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        .footer__shadow{
            @include size-lg(4);
            filter: drop-shadow(10px 10px 5px rgba(255, 255, 255, 0.5));

        }
        .footer__logo--trapezoid {
            background-color: rgba(255, 255, 255, .3);
            clip-path: polygon(30% 0%, 70% 0%, 100% 100%, 0% 100%);
            height: 70px;
            width: 60px;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            justify-content: center;
            transition: all  ease .3s;
            @include lg-block{
                height: 80px;
                width: 70px;
            }
            span {
                font-family: Pacifico, cursive;;
                color: #000;
                font-size: .5rem;
                text-align: center;
                user-select: none;
                width: 70%;
                @include lg-block{
                    font-size: .7rem;
                }
            }
            &:hover{
                background-color: rgba(255, 255, 255, .6);
            }
        }
        .footer__nav{
            @include md-block{
                display: block;
            }
            display: none;
            @include size-lg(8);
            @include size-xs(12);
            ul{
                display: flex;
                justify-content: center;
                @include lg-block{
                    justify-content: flex-end;
                }
                li{

                    &:not(:last-child){
                        margin-right: 20px;
                    }
                    a{
                        font-weight: 500;
                        font-size: .9rem;
                        color: #fff;
                        transition: all  ease .3s;
                        @include lg-block{
                            font-size: 1.2rem;
                        }
                        border-bottom: 1px solid transparent;
                        &:hover{
                            border-bottom: 1px solid rgba(255,255,255, 1);
                        }
                    }
                }
            }
        }
    }

    &__bottom {
        .footer__info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            @include lg-block {
                flex-direction: row;
                margin-bottom: 40px;
            }
            flex-direction: column;
        }
        .footer__social {
            @include lg-block {
                order: 0;
                margin-bottom: 0;
            }
            @include size-lg(6);
            @include size-xs(12);
            margin-bottom: 20px;
            order: 1;
            ul {
                display: flex;
                justify-content: center;
                @include lg-block{
                    justify-content: initial;
                }
                li{
                    &:not(:last-child){
                        margin-right: 30px;
                    }
                    a {
                        color: #fff;
                        font-size: 1.2rem;
                        transition: all  ease .3s;
                        border-bottom: 1px solid transparent;
                        @include lg-block {
                            font-size: 1.5rem;
                        }
                        &:hover{
                            border-bottom: 1px solid rgba(255,255,255, 1);
                        }
                    }
                }


            }
        }
        .footer__address {
            @include lg-block {
                margin-bottom: 0
            }
            margin-bottom: 20px;
            p, a {
                color: #fff;
                font-weight: 500;
                text-align: center;
                font-size: .9rem;
                @include lg-block {
                    text-align: left;
                    font-size: 1.3rem;
                }
            }
            p{
                margin-top: 10px;
            }
            a {
                transition: all  ease .3s;
                z-index: 10000;
                border-bottom: 1px solid transparent;
                &:hover{
                    border-bottom: 1px solid rgba(255,255,255, 1);
                }
            }
        }
    }

    &__copyright {
        text-align: center;
        font-weight: 400;
        color: #fff;
        font-size: .6rem;
        @include lg-block{
            font-size: .8rem;
        }
    }

    &__figure{
        @include figures();
        &.footer-trapezoid{
            width: 30px;
            right: 10%;
            top: 50%;
        }
        &.footer-square{
            width: 20px;
            right: 15%;
            top: 40%;

        }
        &.footer-circles{
            border-radius: 50%;
            background-color: rgba(255,255,255,0.07);
            display: none;
            @include lg-block{
                display: block;
            }
        }
        &.footer-circle-1{
            width: 300px;
            height: 300px;
            right: -5%;
            top: 5%;
        }
        &.footer-circle-2{
            width: 200px;
            height: 200px;
            left: 4%;
            top: 77%;
        }
        &.footer-circle-3{
            width: 170px;
            height: 170px;
            left: -4%;
            top: 2%;
        }
    }


}

