.pricing {
  padding: 40px 0;

  &__text {
    margin-bottom: 40px;
    @include size-lg(6);
    @include size-xs(12);

    & h2 {
      margin-bottom: 20px;
      font-size: 1.5rem;
      color: $mainColor;
    }

    & p {
      color: $secondaryText;
      font-weight: 500;
      line-height: 1.5rem;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__card-wrapper {
    box-sizing: border-box;
    margin-bottom: 0;
    @include size-lg(4);
    @include size-md(4);
    @include size-xs(12);
    text-align: center;
    padding: 10px;

    @include md-block {
      padding: 5px;
    }
    @include xs-block {
      margin-bottom: 20px;
      padding: 0;

    }


    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

  }

  &__card {
    padding: 20px 10px;
    background-color: white;
    box-shadow: 10px 20px 50px rgba(22, 208, 223, .3);
    @include md-block{
      padding: 40px 20px;
    }

    h3 {
      font-size: 2rem;
      font-weight: 700;
      color: black;
      margin-bottom: 20px;
      @include md-block{
         margin-bottom: 35px;
       }
    }

    .pricing__card-price {
      font-size: 1.8rem;
      font-weight: 700;
      margin-bottom: 20px;
      @include md-block{
        margin-bottom: 35px;
        font-size: 2.5rem;
      }
    }

    .benefits p {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding: 15px 0;
      color: #4A4949;
      font-weight: 500;
      font-size: 1rem;
      @include md-block{
        font-size: 1.3rem;
      }
    }

    .benefits {
      margin-bottom: 30px;
      @include md-block{
        margin-bottom: 50px;
      }
    }

    .price__card-btn {
      border-radius: 20px;
      background-color: white;
      font-size: 1rem;
      @include md-block{
        font-size: 1.2rem;
        width: 140px;
        height: 45px;
      }
      font-weight: 500;
      width: 120px;
      height: 35px;
      border: 1px solid transparent;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, .3);
      transition: all .3s;

      &:hover {
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, .3);
      }
    }
  }

  .pricing__card-main {
    background-color: $mainColor;

    h3, button, .benefits p, .pricing__card-price {
      color: white
    }

    .price__card-btn {
      background-color: black;
      box-shadow: 0px 3px 6px rgba(255, 255, 255, .7);
      transition: all .3s;

      &:hover {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, .3);
      }
    }
  }
}