/* 04 Portfolio */

.portfolio {
  position: relative;
  padding: 40px 0;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-direction: column;
    @include lg-block {
      flex-direction: row;
    }

    h2 {
      font-size: 1.5rem;
    }
  }
  &__filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include md-block {
      justify-content: start;
    }

    .filter-item {
      margin-top: 10px;
      @include lg-block {
        margin-top: 0px;

      }
      @include md-block {
        &:not(:first-child) {
          margin-left: 10px;
        }
      }
      cursor: pointer;
      padding: 5px 30px;
      border: 1px solid black;
      border-radius: 10px;
      transition: all .5s;

      &:hover, .active {
        background-color: $mainColor;
        border: 1px solid transparent;
      }

      &.active {
        background-color: $mainColor;
        border: 1px solid transparent;
        color: #fff;
      }
    }
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    @include sm-block {
      align-items: center;
    }
  }
  &__item {
    text-align: center;
    overflow: hidden;
    color: #fff;
    @include size-xl(4);
    @include size-lg(6);
    @include size-xs(12);
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
    background-position: center;
    background-size: cover;
    font-size: 1.2rem;
    @include lg-block {
      font-size: .7rem;
    }
    div {
      position: relative;
      z-index: 101;
      display: none;
      width: 70%;
    }
    h4 {
      margin-bottom: 10px;
    }
    .portfolio__item-hidden-text {
      display: none;
      transition: display 1s;
      .main-text {
        margin-bottom: 20px;
      }

    }

    .portfolio__item-social {
      display: flex;
      justify-content: space-evenly;

      span {
        transition: all .4s;

        &:hover {
          color: #1396E2;
        }
      }
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.04);
      @include lg-block {
        transform: scale(1.2);
      }
      animation-play-state: paused;
      z-index: 1000;
      background-image: none;
      background-color: $mainColor;

      .portfolio__item-hidden-text {
        display: block;
        font-size: 1rem;
      }

      .portfolio__item-text {
        font-size: 1.3rem;
        display: block;
      }
    }

    &-1 {
      background-image: url("../img/des1.jpg");

    }

    &-2 {
      background-image: url("../img/dev1.jpg");

    }

    &-3 {
      background-image: url("../img/smt1.jpg");

    }

    &-4 {
      background-image: url("../img/des1.jpg");
    }

    &-5 {
      background-image: url("../img/dev1.jpg");
    }

    &-6 {
      background-image: url("../img/dev1.jpg");
    }

    &-7 {
      background-image: url("../img/dev1.jpg");
    }

    &-8 {
      background-image: url("../img/dev1.jpg");
    }

    &-9 {
      background-image: url("../img/smt1.jpg");
    }

    &-10 {
      background-image: url("../img/des1.jpg");
    }

    &-11 {
      background-image: url("../img/smt1.jpg");
    }

    &-12 {
      background-image: url("../img/dev1.jpg");
    }

    &-13 {
      background-image: url("../img/smt1.jpg");
    }

    &-14 {
      background-image: url("../img/dev1.jpg");
    }

    &-15 {
      background-image: url("../img/des1.jpg");
    }

    &-16 {
      background-image: url("../img/smt1.jpg");
    }
  }
}


.portfolio__item {

}



