/* 04 Portfolio */

.portfolio {
  position: relative;
  padding: 40px 0;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-direction: column;
    @include lg-block {
      flex-direction: row;
    }

    h2 {
      font-size: 1.5rem;
    }
  }

  &__categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include md-block {
      justify-content: start;
    }

    .filter-item {
      margin-top: 10px;
      @include lg-block {
        margin-top: 0px;

      }
      @include md-block {
        &:not(:first-child) {
          margin-left: 10px;
        }
      }
      cursor: pointer;
      padding: 5px 30px;
      border: 1px solid black;
      border-radius: 10px;
      transition: all .5s;

      &:hover, .active {
        background-color: $mainColor;
        border: 1px solid transparent;
        color: #fff;
      }

      &.active {
        background-color: $mainColor;
        border: 1px solid transparent;
        color: #fff;
      }
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    @include sm-block {
      align-items: center;
    }
  }

  &__item {
    text-align: center;
    overflow: hidden;
    color: #fff;
    position: relative;
    @include size-xl(4);
    @include size-lg(6);
    @include size-xs(12);
    height: 250px;
    transition: transform .5s;
    img{
      width: 100%;
      height: 100%;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $mainColor;
      transform: scale(0);
    }
    .portfolio__overlay-text {
      position: absolute;
      left: 0;
      opacity: 0;
      top: 20%;
      @include lg-block{
        top: 25%;
      }

      right: 0;
      width: 70%;
      z-index: 3;
      text-align: center;
      margin: 0 auto;
      transition: all .3s ease;
    }

    .overlay-description {
      font-size: 1rem;
      .main-text {
        margin-bottom: 20px;
      }
    }
    .overlay-name {
      margin-bottom: 10px;
      font-size: 1.3rem;
    }
    .portfolio__item-social {
      display: flex;
      justify-content: space-evenly;
      a {
        transition: all .4s;
        color: white;
        &:hover {
          color: #1396E2;
        }
      }
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.04);
      @include lg-block {
        transform: scale(1.2);
      }
      z-index: 1000;
      background-image: none;
      &:after {
        transform: scale(1);
      }
      .portfolio__overlay-text{
        opacity: 1;
      }

    }
  }
}





