/* 11 Footer */
.footer {
  height: 50vh;
  padding: 0;
  background-image: url("../img/footer.jpg");
  background-position: 50% 35%;
  background-size: cover;
  position: relative;
  overflow: hidden;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
  }
  @include lg-block {
    padding: 60px 0 20px 0;
    height: 40vh;
  }
  .container {
    z-index: 3;
    position: relative;
    height: inherit;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    @include lg-block {
      justify-content: space-between;
    }
  }
  &__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    @include lg-block {
      flex-direction: row;
    }

    .footer__logo--trapezoid {
      background-color: rgba(255, 255, 255, .3);
      clip-path: polygon(30% 0%, 70% 0%, 100% 100%, 0% 100%);
      height: 70px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include lg-block{
        height: 100px;
        width: 90px;
      }

      & h2 {
        font-family: Pacifico;
        color: #000;
        font-size: .7rem;
        text-align: center;
        user-select: none;
        width: 70%;
        @include lg-block{
          font-size: 1rem;
        }
      }
    }

  }

  &__bottom {
    &-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      @include lg-block {
        flex-direction: row;
        margin-bottom: 40px;
      }
      flex-direction: column;
    }
    .footer__social {
      @include size-lg(4);
      @include size-xs(6);
      @include lg-block {
        order: 0;
        margin-bottom: 0;
      }
      margin-bottom: 20px;
      order: 1;
      ul {
        display: flex;
        justify-content: space-between;
        li a {
          color: white;
          font-size: 1rem;
          transition: all .3s;
          @include lg-block {
            font-size: 1.2rem;
          }
          &:hover {
            color: $mainColor
          }
        }
      }
    }

    .footer__address {
      @include lg-block {
        margin-bottom: 0px;
      }
      margin-bottom: 20px;
      p, a {
        color: $mainColor;
        font-weight: 500;
        text-align: center;
        font-size: 1rem;
        @include lg-block {
          text-align: left;
          font-size: 1.2rem;
        }
      }
      p:first-child {
        margin-bottom: 10px;
      }
      a {
        transition: all .3s;
        &:hover {
          color: white
        }
      }
    }
  }

  &__copyright {
    text-align: center;
    font-weight: 400;
    color: whitesmoke;
    font-size: .6rem;
    @include lg-block{
      font-size: .8rem;
    }
  }

  &__figure{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    &.footer-trapezoid{
      width: 30px;
      right: 10%;
      top: 50%;
    }
    &.footer-square{
      width: 20px;
      right: 15%;
      top: 40%;

    }
    &.footer-circles{
      border-radius: 50%;
      background-color: rgba(255,255,255,0.07);
      display: none;
      @include lg-block{
        display: block;
      }
    }
    &.footer-circle-1{
      width: 300px;
      height: 300px;
      right: -12%;
      top: 5%;
    }
    &.footer-circle-2{
      width: 200px;
      height: 200px;
      left: 4%;
      top: 77%;
    }
    &.footer-circle-3{
      width: 170px;
      height: 170px;
      left: -4%;
      top: 2%;
    }
  }
}

