
body{
    font-family: Quicksand;
}
h1, h2, h3, h4, h5, h6, ul, p {
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
img{
    user-select: none;
}
button{
    @include button-starter();
}
.color{
    color: $mainColor
}
.container {
    @include container();
    @include xs(max-width, rem(420));
    @include sm(max-width, rem(510));
    @include md(max-width, rem(690));
    @include lg(max-width, rem(930));
    @include xl(max-width, rem(1110));
}



